
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');




header{
    height: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    background-color: #525252;
    color: #f4f4f4;
}
header a, header a:visited,header a:focus{
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
}
.active{
    text-decoration: underline;
}
.simple {
    $color-blue: #e8eef5;
    $color-dark: #0f012a;
    @mixin borderandpaddings{
        padding: 40px;
        border-bottom: 3px solid white;
    }
    .simple-container{
        max-width: 500px;
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 100%;
        grid-auto-flow: column;
        color: $color-dark;
        background-color: $color-blue;
        border-radius: 20px;
        margin: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    .header{
        font-size: 36px;
        font-weight: bold;
        @include borderandpaddings;
    }

    li{
        @include borderandpaddings;
        font-size: 26px;
        font-weight: bolder;
    }

}

.complex{
    $color-gray: #f3f0ea;
    $color-white: white;
    $color-brown: #aa714e;
display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100vw 100vw;
    grid-auto-flow: column;
    box-sizing: border-box;
    background-color: $color-gray;
    height: 100vh;
    color: $color-white;

    .item{
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        box-sizing: border-box;
        border: 10px solid $color-gray;

    }
    .item-left{
        background-color: #282934;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65% 35%;
        grid-auto-flow: column;
        justify-items: center;
        font-family: 'Sorts Mill Goudy', serif;
        .title{
            align-self: end;
        }
        h1, h2{

            font-size: 80px;
            margin-bottom: 60px;
            text-align: center;
            padding: 0 25%;
         }
        h2{
            margin-bottom: 0;
            font-size: 140px;
            transform: rotate(180deg);
            padding-top: 40px;
        }
        a{
            color: $color-white;
            height: 60px;
            text-decoration: none;
            border: 2px solid $color-white;
            padding:30px 60px;
            font-size: 26px;
            text-transform: uppercase;
            display: grid;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: bolder;
        }

    }

    .item-right{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        grid-auto-flow: column;
        grid-row-gap: 10px;


        .pict{
            width: 100%;
            height: 100%;
            background-image: url("img/complex.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .text{
            width: 100%;
            height: 100%;
            background-color: $color-brown;
            font-family: 'Open Sans', sans-serif;
            display: grid;
            align-items: center;
            font-size: 30px;
            padding: 0 20%;
            box-sizing: border-box;
            line-height: 2em;

        }
    }
    @media only screen and (min-width: 750px) and (max-width: 1300px) {
    .item-left{
        h1, h2{
           padding: 0 15%;
        }
        h2{
            padding-top: 40px;
        }

        h1{
            font-size: 60px;
        }
        a{
            height: 50px;
            border: 2px solid white;
            padding: 20px 40px;
            font-size: 22px;
        }
    }
    }

    @media only screen and (min-width: 0px) and (max-width: 749px) {
        .item-left{
            h1, h2{
                padding: 0 5%;
            }
            h2{
                font-size: 100px;
                padding-top: 40px;
            }

            h1{
                font-size: 46px;
            }
            a{
                height: 30px;
                border: 2px solid white;
                padding: 20px 40px;
                font-size: 20px;
            }
        }
    }
    @media only screen and (min-width: 450px) and (max-width: 800px) {
        .item-right{
            .text{
                padding: 0 10%;
                line-height: 1.8em;
                font-size: 24px;
            }
        }

    }
    @media only screen and (min-width: 0px) and (max-width: 449px) {
        .item-right{
            .text{
                padding: 0 5%;
                font-size: 22px;
                line-height: 1.5em;
            }
        }

    }
}


